$black-deep: rgba(30, 30, 30, 0.9);
$yellow: #ffff37;
$yellow-deep: #c4c400;
$blue-light: #66b3ff;
$blue-steel: #247ba0;
$grey: #4d4d4d;
$grey-light: #d9d9d9;
$red-light: #a93046;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #f25f5c;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$brown: #841613;

$orange-deep: #ff5733;
$green-light: #5bc236;
$pink-light: #f06292;
$blue-dark: #003366;
$purple-light: #9370db;
$teal-light: #aeeeee;
$red-dark: #8b0000;
$grey-dark: #333333;
$grey-depend: #1e1e1ee6;
$yellow-gold: #ffd700;
$green-forest: #228b22;
$blue-sky: #87ceeb;
$indigo-dark: #191970;
$pink-rose: #ff69b4;
$brown-light: #cd853f;
$cyan-deep: #008b8b;
$grey-silver: #c0c0c0;
$blue-deep: #2d3e7a;
