@import './_variables.scss';


// needFix
.bg-steel{background: $blue-steel}
.bg-light{background: $blue-light}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.hidden{
    display: none !important;
}