@import './_variables.scss';
// $blue: #3385ff;

// a.btn-black-deep:

// asideTool 按鈕樣式
.asideTool-btn {
    background: #fff;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #000;
}