/*  默認 hash  */
.title {
  color: red;
}
/* global */
:global(.wrap) {
  color: white;
  background: blue;
}
/* 編譯後 */

.style_title__s0dsl {
  color: red;
}
.wrap {
  color: white;
  background: blue;
}